.App {
	text-align: center;
	margin-top: 1rem;
}

.chartContainer {
	display: flex;
}

.pipe {
	width: 10%;
	margin: 0.0625rem;
	border-radius: 0.25rem;
}
.unsorted {
	background-color: #3a7bfd;
}
.sorted {
	background-color: #8bc34a;
}

.compare {
	background-color: #4caf50;
}
